
h1 {
    color: navajowhite;
    font-size: 24px;
}

body {
    background: #292c37;
    color: #b9b9b9;
    font-family: helvetica neue;
    margin: 15px;
}

a {
    color: #d5e5f5;
    text-decoration-line: none;
}

a:hover{
    color: #f5f5f5;
    text-decoration-line: underline;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    color: navajowhite;
}

strong {
    color: navajowhite;
}

#nav-header {
    text-align: center;
}

.container {
    margin: 15px;
}

#channel-form {
    text-align: center;
    margin: 40px auto 30px auto;
}

#channel-list form {
    margin:auto
}

.load-more-button-container {
    text-align: center;
}
